<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="{$root_url}/mod/jeelo/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{$root_url}/mod/jeelo/js/jquery.stickytableheaders.js"></script>
<script type="text/javascript" src="https://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="{$root_url}/mod/jeelo/js/main.js"></script>
<link type="text/css" rel="stylesheet" href="{$root_url}/mod/jeelo/css/bootstrap.css" />
<link type="text/css" rel="stylesheet" href="{$root_url}/mod/jeelo/css/main.css" />

<script type="text/javascript">
var COURSE_ID = '{$course_id}';
</script>

<table>
  <thead>
    <tr>
      <th width="200px" style="padding-left: 10px">
	<div style="height:55px;"></div>
          Leerlingen
      </th>
      <th>&nbsp;</th>
      {loop="mods"}
      <th width="100px">
	<div>
          <div style="height:40px;overflow:hidden;">{$value.plural}</div>
          <div style="height:20px;">
	    {if="in_array($key, $expanded)"}
	    <a href="#" style="color: white" id="{$key}" class="show-all open">
              <i class="icon-arrow-left icon-white"></i>
              Verberg
            </a>
	    {else}
	    <a href="#" style="color: white" id="{$key}" class="show-all">
	      Toon
	      <i class="icon-arrow-right"></i>
	    </a>
	    {/if}
          </div>
        </div>
        <button class="btn btn-warning group-toggler" itype="{$key}">
          <i class="icon icon-ok icon-white"></i>
        </button>
      </th>
      {loop="$value.instances"}
      <th class="sub {$key1}"{function="visibility($key1, $expanded)"}>
	<div style="height:40px;"></div>
        <div style="height:20px;" class="tip" data-original-title="{function="mod_name_plural($plural_mods, $key1, $value2)"}">
          {$value2} 
        </div>
                    
        <button class="btn btn-warning tip col-toggler" data-original-title="{function="mod_name_plural($plural_mods, $key1, $value2)"}" itype="{$key1}" gid="{$value2}">
          <i class="icon icon-ok icon-white"></i>
        </button>
      </th>
      {/loop}
      {/loop}
    </tr>
  </thead>
  <tbody>
    {loop="table"}
    <tr>
      <td>
	{$value.user.firstname} {$value.user.lastname}
      </td>
      <td>
	<button class="btn btn-warning row-toggler" user="{$value.user.id}">
          <i class="icon icon-ok icon-white"></i>
        </button>
                      
      </td>
      {loop="$value.mods"}
      <td>
	<a href="javascript:void(0);" status='{function="get_status_column($value2, true)"}' class="user-group-toggler" data-original-title="{$key2}" type="{$key2}" user="{$value1.user.id}" style="margin-left: 5px;"><i class='icon icon-{function="get_status_column($value2)"}'></i></a>
      </td>
      {loop="value2"}
        <!--  subcol -->
        <td class="sub {$key2}"{function="visibility($key2, $expanded)"}>
          <a href="javascript:void(0);" gid="{$key3}" status="{$value3}" type="{$key2}" class="toggler" user="{$value1.user.id}" style="margin-left: 5px;"><i class='icon icon-{function="get_status($value3)"}'></i></a>
        </td>
        <!-- subcol eof -->
      {/loop}
      {/loop}
    </tr>
    {/loop}
</table>
